name: flutter_bangla_app
description: A beautiful animated Bengali quotes app
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/fonts/HindSiliguri-Regular.ttf
